#countrySelectorContainer {
	width: 250px;
}
#countrySelector{
	overflow: scroll;
	height: 500px;
}

.countrySelector-circle {
	display: inline;
}

#countrySelector-searchbar {
	display: flex;
    justify-content: center;
}

.countrySelector-items {
    line-height: 25px;
    padding: 5px 10px;
}

.countrySelector-items__selected {
	background: #29405A;
}

.countrySelector-items__disabled {
    color: rgba(255,255,255,0.5);
    padding: 10px;
    font-size:14px;
    font-weight: 400;
}

#countrySelector-searchbar-input {
	width: 230px;
    height: 20px;
    padding: .1rem;
    border-radius: .25em;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0);
    color: white;
    margin: 10px 0px;
}

#countrySelector-searchbar-input:focus {outline: none; }

#countrySelector-searchbar-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(225, 225, 225, 0.5);
}
