#mapSelector .mapSelector-item__checked{
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
}

#mapSelector .mapSelector-item {
	transition: background 0.2s ease;
}

#mapSelector h4 {
	padding-left: 10px;
}